/* Hamburger menu */
.menu-btn {
  position: absolute;
  z-index: 3;
  top: 35px;
  right: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
}
.menu-btn .btn-line {
  /* Hamburger menu bars */
  height: 3px;
  width: 28px;
  margin: 0 0 5px 0;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  background: #fff;
}
/* Adding class close with javascript  */
.menu-btn.close {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  -o-transform: rotate(45deg) translate(5px, 5px);
  -moz-transform: rotate(45deg) translate(5px, 5px);
  -ms-transform: rotate(45deg) translate(5px, 5px);
  -webkit-transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
  -moz-transform: rotate(-45deg) translate(7px, -6px);
  -o-transform: rotate(-45deg) translate(7px, -6px);
  -ms-transform: rotate(-45deg) translate(7px, -6px);
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  top: 0;
  position: fixed;
  opacity: 0.9;
  visibility: hidden;
  width: 100%;
  height: 100%;
}
/* Adding class show with javascript  */
.menu.show {
  visibility: visible;
}
/* branding image and nav items  */
.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
/* nav items */
.menu-nav {
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background: #0d0d0d;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  -moz-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  -o-transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
}
.menu-nav.show {
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}
.menu-branding {
  background: linear-gradient(-45deg, #1a1a1a, #2e2e2e);
  transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
}
.menu-branding.show {
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}
/* Branding image */
.menu-branding .portrait {
  width: 250px;
  height: 250px;
  background: url("../imgs/image2.jpg");
  user-select: none;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 90%;
  border: solid 2px hsl(0, 0%, 10%);
}
.menu .nav-item {
  transform: translate3d(600px, 0, 0);
  -moz-transform: translate3d(600px, 0, 0);
  -ms-transform: translate3d(600px, 0, 0);
  -webkit-transform: translate3d(600px, 0, 0);
  -o-transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
}
.menu .nav-item.show {
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}
.menu .nav-item.current > a {
  color: #b92236;
}
.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 1.9;
  text-transform: uppercase;
  padding: 0.8rem 0;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  color: hsl(343, 57%, 19%);
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
}

.nav-item:nth-child(2) {
  transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
}

.nav-item:nth-child(3) {
  transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
}

.nav-item:nth-child(4) {
  transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  -ms-transition-delay: 0.4s;
}

* {
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 10%);
  color: #fff;
  height: 100vh;
  margin: 0px;
  line-height: 1.5;
}
body#bg-img {
  background: url("../imgs/image1.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: auto;
  overflow: hidden;
}
body#bg-img .over-lay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(26, 26, 26, 0.9);
  z-index: -1;
  bottom: 0;
}

#home {
  font-family: "Amita", cursive;
}

h1,
h2,
h3 {
  margin: 0;
  margin-left: 10px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 1rem;
  padding: 0.4rem 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #4c1525;
}

main {
  padding: 4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: calc(100vh-60px);
}
main h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main .icons {
  margin-top: 1rem;
}
main .icons a {
  padding: 0.4rem;
}
main .icons a:hover {
  color: #4c1525;
  transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
}
main#home {
  overflow: hidden;
}
main#home h1 {
  margin-top: 20vh;
}

.nothing {
  visibility: hidden;
}

/* About page */
#about {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#aboutbody {
  background: hsl(0, 0%, 10%);
}
#about #button,
#about #button3 {
  padding: 5px;
  background: hsl(0, 0%, 10%);
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 4px;
}
#about .lg-heading {
  padding-bottom: 2.2rem;
}
.about-info {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}
.about-info .bio-image {
  grid-area: bioimage;
  margin: auto;
  border: solid 2px #1a1a1a;
  border-radius: 70%;
}
.about-info .bio {
  grid-area: bio;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0;
}
.about-info .bio h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #fff;
}
.about-info .bio p {
  color: #fff;
}
.about-info .job {
  padding: 0.5rem;
  border-bottom: #4c1525 2px solid;
}

.about-info .job h4 {
  color: #fff;
  text-align: center;
}
.about-info .job p {
  color: #fff;
  text-align: center;
}
.about-info .job-1 {
  grid-area: job1;
}
.about-info .job-2 {
  grid-area: job2;
}
.about-info .job-3 {
  grid-area: job3;
}
.about-info .job-3 div {
  color: #cc6679;
  font-size: 1.5rem;
}

/* work page */
#work {
  height: auto;
}
section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  height: 100%;
  align-items: center;
}
.flip3D {
  width: 240px;
  height: 200px;
  background: linear-gradient(-45deg, #fff, black);
  color: #fff;
  margin-top: 20px;
}
.flip3D > .front {
  position: absolute;
  transform: perspective(600px) rotateY(0deg);
  -ms-transform: perspective(600px) rotateY(0deg);
  -webkit-transform: perspective(600px) rotateY(0deg);
  -moz-transform: perspective(600px) rotateY(0deg);
  -o-transform: perspective(600px) rotateY(0deg);
  width: 240px;
  height: 200px;
  color: #000;
  backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
}
.flip3D > .img9 {
  background: url("../imgs/image9.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img1 {
  background: url("../imgs/image6.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img2 {
  background: url("../imgs/image3.png");
  background-size: cover;
  background-position: top;
}



.flip3D > .img6 {
  background: url("../imgs/image9.jpg");
  background-size: cover;
  background-position: top;
}
.flip3D > .img7 {
  background: url("../imgs/image8.jpg");
  background-size: cover;
  background-position: top;
}

.flip3D > .img11 {
  background: url("../imgs/image11.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img12 {
  background: url("../imgs/image12.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img13 {
  background: url("../imgs/image13.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img14 {
  background: url("../imgs/image14.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img15 {
  background: url("../imgs/image15.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img16 {
  background: url("../imgs/image16.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img17 {
  background: url("../imgs/image17.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img18 {
  background: url("../imgs/image18.png");
  background-size: cover;
  background-position: top;
}

.flip3D > .img19 {
  background: url("../imgs/image19.png");
  background-size: cover;
  background-position: top;
}

.flip3D > .img20 {
  background: url("../imgs/image20.png");
  background-size: cover;
  background-position: top;
}

.flip3D > .img22 {
  background: url("../imgs/image22.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img23 {
  background: url("../imgs/image23.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img24 {
  background: url("../imgs/image24.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img25 {
  background: url("../imgs/image25.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img26 {
  background: url("../imgs/image26.png");
  background-size: cover;
  background-position: top;
}

.flip3D > .img28 {
  background: url("../imgs/image28.png");
  background-size: cover;
  background-position: top;
}

.flip3D > .img30 {
  background: url("../imgs/image30.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img31 {
  background: url("../imgs/image31.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img32 {
  background: url("../imgs/image32.png");
  background-size: cover;
  background-position: top;
}

.flip3D > .img34 {
  background: url("../imgs/image34.png");
  background-size: cover;
  background-position: top;
}


.flip3D > .img37 {
  background: url("../imgs/image37.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img38 {
  background: url("../imgs/image38.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img39 {
  background: url("../imgs/image39.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img40 {
  background: url("../imgs/image40.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img41 {
  background: url("../imgs/image41.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img42 {
  background: url("../imgs/image42.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img43 {
  background: url("../imgs/image43.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img44 {
  background: url("../imgs/image44.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .img45 {
  background: url("../imgs/image45.png");
  background-size: cover;
  background-position: top;
}
.flip3D > .back {
  position: absolute;
  transform: perspective(600px) rotateY(180deg);
  -ms-transform: perspective(600px) rotateY(180deg);
  -webkit-transform: perspective(600px) rotateY(180deg);
  -moz-transform: perspective(600px) rotateY(180deg);
  -o-transform: perspective(600px) rotateY(180deg);
  width: 240px;
  height: 200px;
  background-color: #2e2e2e;
  color: #fff;
  backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.flip3D > .back a {
  color: cornflowerblue;
  text-decoration: underline;
}
.flip3D:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
  -ms-transform: perspective(600px) rotateY(-180deg);
  -webkit-transform: perspective(600px) rotateY(-180deg);
  -moz-transform: perspective(600px) rotateY(-180deg);
  -o-transform: perspective(600px) rotateY(-180deg);
}
.flip3D:hover > .back {
  transform: perspective(600px) rotateY(0deg);
  -ms-transform: perspective(600px) rotateY(0deg);
  -webkit-transform: perspective(600px) rotateY(0deg);
  -moz-transform: perspective(600px) rotateY(0deg);
  -o-transform: perspective(600px) rotateY(0deg);
}

/* contacts page */
#contact {
  min-height: 100%;
}
.boxes {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 4.3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.boxes div {
  font-size: 1.4rem;
  border: 1px #fff solid;
  padding: 1.5rem 1.5rem;
  margin-bottom: 3rem;
  transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
}
.boxes div:hover {
  background: #000;
  color: #fff;
}
.boxes div:hover span {
  color: #4c1525;
}

.btn,
.btn-dark,
.btn-light {
  display: inline-block;
  padding: 0.1rem;
  border: 0;
  margin-bottom: 0.4rem;
}
.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #4c1525;
  color: #fff;
}

.btn-dark {
  background: black;
  color: #fff;
}

.btn-light {
  background: #9a9a9a;
  color: #333;
}

#main-footer {
  background: #010101;
  text-align: center;
  padding: 1rem;
  color: #fff;
  height: 60px;
  margin-bottom: 0;
}
/* Large screens; desktop */
@media screen and (max-width: 1680px) {
  /* work page */
  section {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
}
@media screen and (min-width: 1171px) {
  /* work page */
  section {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
}
/* Medium screens; laptops and tablets */
@media screen and (min-width: 769px) and (max-width: 1170px) {
  /* work page */
  section {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    font-size: 1rem;
  }
}
/* Small screens; mobile phones */
@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show,
  div.menu-branding.show {
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
  }
  .menu-branding .portrait {
    height: 130px;
    width: 130px;
  }
  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }
  /* work page */
  section {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}
/* smaller screens; mobile phones */
@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh;
  }
  body#bg-img .over-lay {
    height: 100%;
  }
  /* work page */
  section {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .boxes div {
    font-size: 1.2rem;
  }
  .about-info {
    justify-content: center;
  }
}


